@{
    Mascota mascota =
                    ViewData["MASCOTA"] as Mascota;
}
<h1 style="color:blue">
    Session Mascota JSON
</h1>
<p>
    <a asp-controller="EjemploSession"
        asp-action="SessionMascotaJson"
        asp-route-accion="almacenar">
        Almacenar Mascota Json
    </a>
</p>
<p>
    <a asp-controller="EjemploSession"
       asp-action="SessionMascotaJson"
       asp-route-accion="mostrar">
        Mostrar Mascota Json
    </a>
</p>
<h3>@ViewData["MENSAJE"]</h3>
@if (mascota != null){
    <h1 style="color:red">
        Nombre: @mascota.Nombre, Raza: @mascota.Raza
    </h1>
    <h3 style="color:green">Edad: @mascota.Edad</h3>
}
